ConsoleApplication1/Service References/ServiceReference2/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59428/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59428/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TrainService" />
      <xsd:import schemaLocation="http://localhost:59428/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59428/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Service1_GetTripWithDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTripWithDate" />
  </wsdl:message>
  <wsdl:message name="Service1_GetTripWithDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTripWithDateResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_GetTripWithDate_MyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/TrainService" name="detail" element="q1:MyException" />
  </wsdl:message>
  <wsdl:message name="Service1_GetTripWithoutDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTripWithoutDate" />
  </wsdl:message>
  <wsdl:message name="Service1_GetTripWithoutDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTripWithoutDateResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_GetTripWithoutDate_MyExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/TrainService" name="detail" element="q2:MyException" />
  </wsdl:message>
  <wsdl:portType name="Service1">
    <wsdl:operation name="GetTripWithDate">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/GetTripWithDate" message="tns:Service1_GetTripWithDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/GetTripWithDateResponse" message="tns:Service1_GetTripWithDate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/Service1/GetTripWithDateMyExceptionFault" name="MyExceptionFault" message="tns:Service1_GetTripWithDate_MyExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTripWithoutDate">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/GetTripWithoutDate" message="tns:Service1_GetTripWithoutDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/GetTripWithoutDateResponse" message="tns:Service1_GetTripWithoutDate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/Service1/GetTripWithoutDateMyExceptionFault" name="MyExceptionFault" message="tns:Service1_GetTripWithoutDate_MyExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Service1" type="tns:Service1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTripWithDate">
      <soap:operation soapAction="http://tempuri.org/Service1/GetTripWithDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MyExceptionFault">
        <soap:fault use="literal" name="MyExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetTripWithoutDate">
      <soap:operation soapAction="http://tempuri.org/Service1/GetTripWithoutDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MyExceptionFault">
        <soap:fault use="literal" name="MyExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_Service1" binding="tns:BasicHttpBinding_Service1">
      <soap:address location="http://localhost:59428/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>